@use "../abstracts/mixins" as m;

body .gform-theme {
	&--framework {
		&.gform_wrapper.gform-theme--orbital
			.gform-footer.gform_footer.top_label
			input:is([type="submit"]) {
			--gf-local-bg-color: var(--bs-primary);
			--gf-local-radius: 0;
			--gf-local-border-width: 2px;
			--gf-local-color: white;

			@include m.interaction() {
				--gf-local-border-color: var(--bs-primary);
				--gf-local-color: var(--bs-primary);
				--gf-local-bg-color: transparent;
			}
		}
	}
}

[data-bs-theme="dark"] body .gform-theme {
	&--framework {
		--gf-ctrl-border-color-focus: var(--bs-primary);
		--gf-ctrl-outline-color-focus: var(--bs-primary);
		--gf-ctrl-desc-color: white;
		--gf-ctrl-label-color-tertiary: white;

		textarea {
			color: white;
		}

		&.gform_wrapper.gform-theme--orbital
			.gform-footer.gform_footer.top_label
			input:is([type="submit"]) {
			--gf-local-bg-color: var(--bs-primary);
			--gf-local-radius: 0;
			--gf-local-border-width: 2px;
			--gf-local-color: white;

			@include m.interaction() {
				--gf-local-border-color: var(--bs-primary);
				--gf-local-color: var(--bs-primary);
				--gf-local-bg-color: transparent;
			}
		}

		.gform-field-label {
			--gf-ctrl-label-color-primary: white;
		}
	}
}
