@use "../abstracts/mixins" as m;

#site-header {
	top: var(--wp-admin--admin-bar--height, 0);
}

.logo {
	--size: calc(4rem + 1.5vw);
	width: var(--size);
	height: var(--size);
}

#site-search {
	@include m.media-breakpoint-up(lg) {
		position: absolute;
	}
	@include m.media-breakpoint-only(lg) {
		inset-inline-end: 20%;
		translate: 20% 0%;
	}

	@include m.media-breakpoint-up(xl) {
		inset-inline-end: 35%;
		translate: 20% 0%;
	}

	.btn {
		@include m.media-breakpoint-down(lg) {
			border-width: 0 !important;
		}
	}
}

.offcanvas-lg.offcanvas-end {
	top: var(--wp-admin--admin-bar--height, 0);
}
