@use "../abstracts/mixins" as m;

#site-header {
	position: sticky;
	top: 0;

	body:has(#wpadminbar) & {
		top: 32px;
	}
}

.logo {
	--size: calc(4rem + 1.5vw);
	width: var(--size);
	height: var(--size);
}

#site-search {
	@include m.media-breakpoint-up(lg) {
		position: absolute;
		inset-inline-end: 40%;
		transform: translateX(20%);
	}

	.btn {
		@include m.media-breakpoint-down(lg) {
			border-width: 0 !important;
		}
	}
}

.offcanvas-lg {
	@include m.media-breakpoint-down(lg) {
		body:has(#wpadminbar) & {
			top: 32px;
		}
	}
}
