@use "../abstracts/mixins" as m;

.sidebar {
	--top-offset: 4rem;
	@include m.media-breakpoint-up(lg) {
		top: var(--top-offset);
		height: calc(100vh - var(--top-offset));

		body:has(#wpadminbar) & {
			top: calc(var(--top-offset) + 32px);
		}
	}

	.offcanvas-lg.offcanvas-start {
		@include m.media-breakpoint-down(lg) {
			body:has(#wpadminbar) & {
				top: 32px;
			}
		}
	}
}
