@use "../abstracts/mixins" as m;

.docs-toc-sidebar {
	--toc-top-offset: calc(var(--site-header-offset) + 1rem);

	@include m.media-breakpoint-down(md) {
		background-color: light-dark(
			var(--bs-primary-bg-subtle),
			var(--bs-light-bg-subtle)
		);
	}

	@include m.media-breakpoint-up(lg) {
		@include m.sticky-sidebar(--toc-top-offset);
		height: 100%;
	}

	.docs-toc-sidebar-collapse {
		@include m.media-breakpoint-up(md) {
			display: block !important;
		}
	}
}
