@forward "./bs_breakpoints";

@mixin interaction() {
	&:hover,
	&:focus-visible,
	&:active {
		@content;
	}
}

@mixin sticky-sidebar($var: --sidebar-top-offset) {
	position: sticky;
	top: calc(var(#{$var}) + var(--wp-admin--admin-bar--height));
	height: calc(100vh - var(#{$var}));
}
