.archive {
	.search-form {
		border-block-width: 1px;
		border-inline-width: 0px;
		border-style: solid;

		[data-bs-theme="dark"] & {
			border-color: var(--bs-primary);
			background-color: rgba(var(--bs-primary-rgb), 0.3);
			color: var(--bs-light);
		}

		[data-bs-theme="light"] & {
			border-color: var(--bs-border-color-translucent);
			background-color: var(--bs-primary-bg-subtle);
			color: var(--bs-body-color);
		}

		.search-filter-base {
			[data-bs-theme="light"] & {
				--search-filter-label-color: var(--bs-body-color);
			}

			[data-bs-theme="dark"] & {
				--search-filter-label-color: var(--bs-light);
			}
		}
	}
}
