@use "../base/block-overrides/groups";

.docs-content {
	& > :where(:not(.alignleft):not(.alignright):not(.align-full)) {
		max-width: clamp(100vw, var(--wp--style--global--content-size), 100vw);
		margin-inline: auto;
	}

	& > .alignwide {
		max-width: var(--wp--style--global--wide-size);
	}
}
